@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,600,400italic);
@import url(https://fonts.googleapis.com/css?family=Doppio+One);
/* navegação*/


nav#navegacao {
    box-shadow: 1px 1px 10px black;
    background-color: #1d1a1a;
}
nav#navegacao ul{
    font-family: 'Oswald', sans-serif;
    list-style: none;
    margin-bottom: 0px;
    margin-left: -40px;
}
nav#navegacao li{
    display: inline-block;
    border: 0px;
}
nav#navegacao li:hover {

}
.botaologar{
    padding-top: 20px;
}
nav#navegacao h1{
    display: none;
}
/*cabecalho*/
#cabecalho{
    background-image: URL("../_imagens/cabecalho.jpeg");
    z-index: 1;
}

body{
    background-image: URL("../_imagens/background.jpg");
    background-size: 100%;

}
/*Corpo*/
aside#lateral{
    color: #ffffff;
}
div#footer{
    box-shadow: 1px 1px 10px black;
    color: #ffffff;
    background-color: #1d1a1a;
}
/*Publicacoes*/

div#Formatacao{
    box-shadow: 1px 1px 10px black;
    border-radius: 2px;
    background-color: #1d1a1a;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 0px;
}


div.textocabecalho{
    padding-top: 20px;
    padding-bottom: 0px;
    border-bottom: 1px solid #333;
    color: #ffffff;
    margin: 25px 0px;
}

a.titulo{
    border-left: 2px solid #333;
    padding-left: 5px;
    text-decoration: none !important;
    font-family: 'Doppio One', sans-serif;
    color: #ffffff !important;
    font-size: 24pt;
    font-style: normal;
    margin: 10px 10px;
    padding-top: 5px;
}
span.data{
    border-left: 2px solid #333;
    padding-left: 5px;
    margin-left: 10px;
}
div#data{
     text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 8pt;
    margin-bottom: 10px;
}
div#texto{
    font-family: 'Cabin', sans-serif;
    font-size: 12pt;
    margin: 50px 20px;
}
p{
    text-align: justify;
    text-indent: 15pt;
}
.comentario{
    width: 600px;
    border-bottom: 1px solid #333;
    text-decoration: none;
    color:  #ffffff;  
    margin-top: 15px;
}
span.comennome{
    border-left: 1px solid #333;
    padding-left: 5px;
}
div.comennome{
        padding: 5px;
        margin: 0px;
        text-align:center;
}
.textocomentario{
    margin-left: 10px;
    padding: 10px;
}
.controlcomentario{
    background-color: #333;
}
p.legenda{
    text-align: center;
    font-size: 10pt;
}
div.img{
    margin: 25px 0px;
}
div.video{
    margin: 25px 0px;
}
div.rodapedivisao{
    border-top: 1px solid #333;
    padding-bottom: 10px !important ;
}
p.Comentarios{
    font-size: 12pt;
    font-family: 'Oswald', sans-serif  !important ;
}
div.Comentarios{
   
    margin-left: 20px ;
    margin-top: 10px;
    
}

/*Barra lateral*/
aside#lateral{
    margin: 0px 15px;
    padding: 10px;
    text-align: center;
    hidth: 100%;
}
a#alateral{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 12pt;
}
/*Pe*/
div#footer{
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
    margin-bottom: -20px;
    padding: 10px;
    text-align: center;
}
/*navegador Pagina*/
nav#pagina {
    margin: 0px 5px;
}
nav#pagina ul{
    font-family: 'Oswald', sans-serif;
    list-style: none;
    margin-bottom: 0px;
    margin-left: -50px;
}
nav#pagina li{
    box-shadow: 1px 1px 10px black;
    display: inline-block;
    border: 0px;
    background-color: #1d1a1a;
    margin: 5px;
}
nav#pagina li:hover {
    background-color: #312c30;
}
nav#pagina h1{
    display: none;
}
button.nave{
    color: #f7f7f7;
    background-color: #1D1A1A;
    border: none;
    padding: 15px;
}
button.nave:hover{
    background-color: #312c30;
}

.esconder{
    display: none;
}
.enviarcomentario{
    padding-bottom: 10px;
}
#comentarios{
    color: black;
}
.tabelacomentario{
    background-color: #f7f7f7 !important; 
}
.bttitulo{
    background-color: #1D1A1A;
    border: 0px;
    margin: 0px;
}